
.Rproj.user/BCF8F589/pcs/files-pane.pper
.Rproj.user/BCF8F589/pcs/source-pane.pper
.Rproj.user/BCF8F589/pcs/windowlayoutstate.pper
.Rproj.user/BCF8F589/pcs/workbench-pane.pper
.Rproj.user/BCF8F589/sources/prop/1FE7C298
.Rproj.user/BCF8F589/sources/prop/INDEX
.Rproj.user/BCF8F589/sources/session-760d188f/3AC129BA
.Rproj.user/BCF8F589/sources/session-760d188f/3AC129BA-contents
.Rproj.user/BCF8F589/sources/session-760d188f/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
Curso-R-2023.2.Rproj
.Rproj.user/BCF8F589/jobs/BACBF4B6-output.json
.Rproj.user/BCF8F589/sources/prop/A78AA673
.Rproj.user/BCF8F589/sources/prop/E9B7668D
.Rproj.user/BCF8F589/sources/session-760d188f/505D80C5-contents
.Rproj.user/BCF8F589/sources/session-760d188f/8E1349DB-contents
.Rproj.user/shared/notebooks/paths
