
.Rproj.user/BCF8F589/pcs/files-pane.pper
.Rproj.user/BCF8F589/pcs/source-pane.pper
.Rproj.user/BCF8F589/pcs/windowlayoutstate.pper
.Rproj.user/BCF8F589/pcs/workbench-pane.pper
.Rproj.user/BCF8F589/sources/prop/1FE7C298
.Rproj.user/BCF8F589/sources/prop/INDEX
.Rproj.user/BCF8F589/sources/session-760d188f/3AC129BA
.Rproj.user/BCF8F589/sources/session-760d188f/3AC129BA-contents
.Rproj.user/BCF8F589/sources/session-760d188f/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
Curso-R-2023.2.Rproj
.Rproj.user/BCF8F589/jobs/BACBF4B6-output.json
.Rproj.user/BCF8F589/sources/prop/A78AA673
.Rproj.user/BCF8F589/sources/prop/E9B7668D
.Rproj.user/BCF8F589/sources/session-760d188f/505D80C5-contents
.Rproj.user/BCF8F589/sources/session-760d188f/8E1349DB-contents
.Rproj.user/shared/notebooks/paths
.Rproj.user/BCF8F589/rmd-outputs
.Rproj.user/BCF8F589/saved_source_markers
.Rproj.user/BCF8F589/sources/prop/4440B612
.Rproj.user/BCF8F589/sources/session-c69cec57/3AC129BA
.Rproj.user/BCF8F589/sources/session-c69cec57/3AC129BA-contents
.Rproj.user/BCF8F589/sources/session-c69cec57/3CD358C7
.Rproj.user/BCF8F589/sources/session-c69cec57/3CD358C7-contents
.Rproj.user/BCF8F589/sources/session-c69cec57/lock_file
.Rproj.user/BCF8F589/sources/prop/D21786C0
.Rproj.user/BCF8F589/sources/session-20cb2a65/3AC129BA-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/3CD358C7-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/45A5FB1F-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/4B621E63-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/7F6F4F8E-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/8AA353CB-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/9ACA3118-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/C360B15B-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/CA608AE1-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/F1C54172
.Rproj.user/BCF8F589/sources/session-20cb2a65/F1C54172-contents
.Rproj.user/BCF8F589/sources/session-20cb2a65/lock_file
dfACMGFinal2601.csv
Creating ACMG Sub-Files.R
